/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
.box {
  margin: 100px auto;
  width: 600px;
  height: 600px;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -moz-perspective-origin: 0 0;
  -webkit-perspective-origin: 0 0;
  perspective-origin: 0 0;
}
/* line 9, ../sass/style.scss */
.box .stage {
  position: relative;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 400px;
  height: 400px;
}
/* line 14, ../sass/style.scss */
.box .stage li {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 1px solid #000000;
  background-color: rgba(100, 150, 200, 0.3);
}
/* line 22, ../sass/style.scss */
.box .stage li:first-child {
  -moz-transform: rotateY(90deg) translateZ(-200px);
  -webkit-transform: rotateY(90deg) translateZ(-200px);
  transform: rotateY(90deg) translateZ(-200px);
}
/* line 27, ../sass/style.scss */
.box .stage li:nth-of-type(2) {
  -moz-transform: rotateY(-90deg) translateZ(-200px);
  -webkit-transform: rotateY(-90deg) translateZ(-200px);
  transform: rotateY(-90deg) translateZ(-200px);
}
/* line 32, ../sass/style.scss */
.box .stage li:nth-of-type(3) {
  -moz-transform: rotateX(-90deg) translateZ(-200px);
  -webkit-transform: rotateX(-90deg) translateZ(-200px);
  transform: rotateX(-90deg) translateZ(-200px);
}
/* line 37, ../sass/style.scss */
.box .stage li:nth-of-type(4) {
  -moz-transform: rotateX(90deg) translateZ(-200px);
  -webkit-transform: rotateX(90deg) translateZ(-200px);
  transform: rotateX(90deg) translateZ(-200px);
}
/* line 42, ../sass/style.scss */
.box .stage li:nth-of-type(5) {
  -moz-transform: translateZ(-200px);
  -webkit-transform: translateZ(-200px);
  transform: translateZ(-200px);
}
/* line 45, ../sass/style.scss */
.box .stage li:nth-of-type(6) {
  -moz-transform: rotateX(180deg) translateZ(-200px);
  -webkit-transform: rotateX(180deg) translateZ(-200px);
  transform: rotateX(180deg) translateZ(-200px);
}
